@using (Ajax.BeginForm("Search", "Users", null, new AjaxOptions { UpdateTargetId = "results" }, new { id = "SearchForm", @class = "form form-horizontal" }))
{
    <div class="form-group">
        <label class="col-xs-12">First name</label>
        <input class="form-control col-xs-12" name="FirstName" id="FirstName">
    </div>

    <div class="form-group">
        <label class="col-xs-12">Last name</label>
        <input class="form-control col-xs-12" name="LastName" id="LastName">
    </div>

    <div class="form-group">
        <label class="col-xs-12">Min age</label>
        <input type="number" class="form-control col-xs-12" name="MinAge" id="MinAge">
    </div>

    <div class="form-group">
        <label class="col-xs-12">Max age</label>
        <input type="number" class="form-control col-xs-12" name="MaxAge" id="MaxAge">
    </div>

    <div class="form-group">
        <label class="col-xs-12">Home town</label>
        <input class="form-control col-xs-12" name="HomeTown" id="HomeTown">
    </div>

    <div class="form-group">
        <label class="col-xs-12">Gender</label>
        <div class="col-xs-12">
            <label class="radio-inline">
                <input type="radio" name="Gender" id="Gender" value="Male">
                Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="Gender" id="Gender" value="Female">
                Female
            </label>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn-block w3-btn w3-theme-d1">
            Search
        </button>
    </div>
}